.nav-bar-top {
	width: 100%;
	background: #eee;
	position: relative;
	margin: 0;
	text-align:center;
	h1 {
		font-size: 60px;
		line-height: 60px;
		margin: 0;
	}
}

.book-display {
	width: 100%;
	.book-image {
		width: 100%;
		// width: 50%;
	}
}

// .book-icon {
// 	height: 130px;
// 	position: relative;
// 	overflow: hidden;
// 	img {
// 		position: absolute;
// 		top: 50%;
// 		transform: translate(0, -50%);
// 	}
// }

::-webkit-scrollbar{width:12px;background:transparent}::-webkit-scrollbar-thumb{border-radius:1px;background:#b3b3b3}