<div class="uk-grid">
  <div class="uk-width-medium-1-6"></div>
  <div class="uk-width-medium-4-6">
    <div class="uk-article" style="padding:10px">
    <h1 class="uk-article-title">About</h1>
    <p class="uk-article-meta">The NFC SmartBook Project is a pilot project at Renison University College incorporates NFC technology with ebooks to create a mobile e-library browsing experience.</p>
    <p>By attaching a NFC card to a library book, one can tap the book with a NFC enabled device to conveniently browse online resources related to the book. In the case of Deborah DeJong's book {{#link-to "publication" "dance"}}<a>D.A.N.C.E.: five steps to Living Your Best Life</a>{{/link-to}}, the mobile friendly site provides information about the book, digital reading options, and exclusive interviews with fans.</p>
    <h3>Results</h3>
    <p>The project has received mention on the book <a href="http://www.amazon.ca/Near-Field-Communication-Developments-Implications/dp/1627054324/ref=sr_1_2?ie=UTF8&qid=1420646410&sr=8-2&keywords=Near+Field%3A+recent+development">Near Field Communication: Recent Developments and Library Implications</a>.</p>
    <h3>Contributors</h3>
    <table class="uk-table">
      <tbody>
        <tr>
          <td class="uk-width-1-6 uk-text-bold">Project Director:</td>
          <td class="uk-width-5-6">Tony Tin</td>
        </tr>
        <tr>
          <td class="uk-width-1-6 uk-text-bold">Project Lead:</td>
          <td class="uk-width-5-6">Jerry Zhou</td>
        </tr>
        <tr>
          <td class="uk-width-1-6 uk-text-bold">Author:</td>
          <td class="uk-width-5-6">Deborah DeJong</td>
        </tr>
      </tbody>
    </table>
    <h3>Pilot Members</h3>
    <table class="uk-table">
      <tbody>
        <tr>
          <td>Carrie Wang</td>
        </tr>
        <tr>
          <td>Han Wang</td>
        </tr>
        <tr>
          <td>Vivi Ma</td>
        </tr>
        <tr>
          <td>Linda Yan</td>
        </tr>
      </tbody>
    </table>
    <p>Deborah DeJong inspires everyone whose life she touches. She invites the reader to live their best life everyday! DeJong demonstrates through her five step model, that happiness and peace are available to everyone if they choose to DANCE.</p>
    <h3>Contact</h3>
    <table class="uk-table">
      <tbody>
        <tr>
          <td class="uk-width-1-6 uk-text-bold">Email</td>
          <td class="uk-width-5-6">tony.tin@uwaterloo.ca</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <div class="uk-width-medium-1-6"></div>
</div>
{{outlet}}
